body{
    background-color: #cccccc;
    margin-left:45px;
}
.lateral{
    padding:0 50px 0 0;
    transition: all 0.5s ease;
    font-size:1.2em;
    background:rgb(255,255,255, 0);
    height:100%;
    overflow:hidden;
    width:370px;
    position:fixed;
    top:0;
    left:-320px;
    background-image: linear-gradient(131deg, rgb(36,85,128), rgb(81,141,193));
}

.lateral:before {
    z-index:1000;
    font-size:4em;
    color:white;
    position:fixed;
    left:4px;
}

.lateral:hover:before, .lateral:focus:before {
    left:-500px;
    
}

.lateral:hover, .lateral:focus,  .lateral:active  {
    overflow-y:scroll;
    transform: translate(320px, 0);
    padding-right:0;
}

.lateral .box {
	list-style-type:none;
	margin-bottom:1em;;
	padding-bottom:1em;
}

.lateral h3 {
	display:inline-block;
	font-weight:bold;
	font-style:normal;
	margin: 2em 0 2em 0.81em;
	color:rgb(255,255,255);
}

.lateral .menu {
	position:relative;
	font-size:1.0em;
	margin:1em 0 1em -1em;
	padding:0;
}

.lateral .menu li {
    padding:0; 
    margin:0;
}

lateral .menu li a, .lateral .menu li a:link {
	font-size:1.2em;
	color:rgb(255,255,255);
	text-decoration: none;
	padding: 0.8em 0 0.8em 1em;
	display: block;
	transition: all 1.2s ease;
}

.lateral .menu li a:hover {
	color:rgb(255,255,255);
	background-color:rgba(255,255,255,0.2);
	transition: all 0.5s ease;
}

