body{
    background-color: #cccccc;
}

.special{
    box-shadow: 1px 1px 5px gray;
    margin: 5px 0px 5px 0px;
    transition-delay: 250ms;
}

.special:hover{
    box-shadow: 0px 0px 5px 0px white;
    transition-delay: 250ms;
}