body{
    background-color: #cccccc;
}

.special{
    box-shadow: 1px 1px 5px gray;
    margin: 5px 0px 5px 0px;
}

.special:hover{
    box-shadow: 0px 0px 5px 0px white;
}

.titulo-card{
    display: grid;
    grid-template-columns: 1fr auto;
}

.botao-menu-items{
    position: absolute;
    z-index: 999;
    width: 150px;
    background-color: white;
    border-radius: 3px;
    box-sizing: border-box;
}

.botao-menu-items-hide{
    display: grid;
}
.botao-menu-items-show{
    display: grid;
}


.wrapper{
    display: grid;
    grid-template-columns: auto 1fr;
}
.acima{
    position: absolute;
    z-index: 999;
}